.chess-footer {
  background-color: #e9ded4;

  &__wrapper {
    padding: 40px 0 72px 0;

    @media screen and (min-width: 376px) and (max-width: 671px) {
      padding: 40px 0 60px 0;
    }

    @media screen and (max-width: 376px) {
      padding: 40px 0 60px 0;
    }
  }

  &__text {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    font-family: "Golos Text", serif;
    color: #313131;

    opacity: 60%;
  }
}
